#List > li{
    font: 17px sans-serif;
    color: black;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width:98%;
  margin:auto;
  margin-top:20px;
  height:auto;
}

.flex-container > div {
  width: 49%;
  margin: 0px auto;
  height:auto;
}

#Prof{
    width:80%;
    margin-right:10%;
    margin-left:10%;
}

.warpper{
  background:#3a3b3c;
  display:flex;
  flex-direction:column;
  align-items:center;
  height:auto;
}
.tab{
  cursor: pointer;
  padding:15px;
  display:inline-block;
  font: 25px 'Yanone Kaffeesatz', sans-serif;
  font-weight:600;
  color:#B7825F;
}
.panels{
  height:580px;
  width:95%;
  border:3px solid #B7825F;
  padding:20px;
  padding-bottom:0px;
}
.panel{
  display:none;
  animation: fadein .8s;
}

.panel > p{
    color:white;
}

.panel-title{
  font: 35px 'Yanone Kaffeesatz', sans-serif;
  font-weight:bold;
  color: #B7825F;
}

.radio{
  display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel,
#four:checked ~ .panels #four-panel,
#five:checked ~ .panels #five-panel{
  display:block;
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab,
#four:checked ~ .tabs #four-tab,
#five:checked ~ .tabs #five-tab{
  background:h1{
  color:black;
  text-align:center;
  font-size:2em;
};
  background:#B7825F;
  color:white;
}

a {
  color: white;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

a:hover,
a.selected {
  color: #B7825F;
}

li,
h2,
h4,
h5
{
  text-align: left;
  font: 35px 'Yanone Kaffeesatz', sans-serif;
}

.sociales {
  text-align: center;
  margin-bottom: 20px;
}

#timeline {
  width: 95%;
  height: 350px;
  overflow: hidden;
  margin: auto;
  padding:20px;
  margin-top:10px;
  position: relative;
}

#dates {
  width: 800px;
  height: 60px;
  overflow: hidden;
}

#dates li {
  list-style: none;
  float: left;
  width: 100px;
  height: 50px;
  font-size: 24px;
  text-align: center;
}

#dates a {
  line-height: 38px;
  padding-bottom: 10px;
}

#dates .selected {
  font-size: 38px;
}

#issues {
  width: 100px;
  height: auto;
  overflow: hidden;
}

#issues li {
  width: 800px;
  height: 350px;
  list-style: none;
  float: left;
}

#issues li.selected img {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

#issues li img {
  float: left;
  margin: 10px 30px 10px 50px;
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
  /* IE 8 */
  
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
  /* IE 6 & 7 */
  
  zoom: 1;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  -webkit-transform: scale(0.7, 0.7);
  -moz-transform: scale(0.7, 0.7);
  -o-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
}

#issues li h1 {
  font-size: 43px;
  margin: 20px 0;
  text-align: left;
  margin-right: 190px;
  height:40px;
}

#issues li p {
  color:white;
  font-size: 16px;
  margin-right: 300px;
  font-weight: normal;
  line-height: 22px;
}

#grad_left,
#grad_right {
  width: 100px;
  height: 350px;
  position: absolute;
  top: 0;
}

#next,
#prev {
  position: absolute;
  top: 0;
  font-size: 70px;
  top: 170px;
  width: 22px;
  height: 38px;
  background-position: 0 0;
  background-repeat: no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}

#next:hover,
#prev:hover {
  background-position: 0 -76px;
}

#next {
  right: 0;
  background: black;
}

#prev {
  left: 0;
  background: black;
}

#next.disabled,
#prev.disabled {
  opacity: 0.2;
}

.container{
    margin-top:-66px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    width: 100%;
    position: relative;
    display: flex;
    
}

.container .card{
    cursor: pointer;
    width:100%;
}

.container .card .face{
    width: 100%;
    height: 200px;
    transition: .5s;
}

.container .card .face.face1{
    position: relative;
    background: #242526;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: #B7825F;
    transform: translateY(0);
}

.container .card .face.face1 .content{
    opacity: 1;
    transition: 0.8s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 100px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    font: 35px 'Yanone Kaffeesatz', sans-serif;
    font-weight:600;
    color: white;
    text-align: left;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    padding: 5%;
    box-sizing: border-box;
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.table{
    background: #242526;
}

.table, tr{
    color:white;
    border: 3px solid #B7825F;
    text-align:left;
    vertical-align: top;
    width:100%
}

.table, td > p{
    margin-top: 5px;
    font-size:18px;
    font: 18px sans-serif;
}

.tableHead{
    height:40px;
    margin:5px;
    margin-top:8px;
    font: 30px 'Yanone Kaffeesatz', sans-serif;
}

.tableName{
    font: 25px 'Yanone Kaffeesatz', sans-serif;
    border-right: 3px solid #B7825F;
}

td, th{
    padding:8px;
}

.table, td{
    border-top: 3px solid #B7825F;
    font-size:17px;
}

#Signature{
    height:220px;
    float:right;
}

.personalTable{
    background: #242526;
}

.personalTable, tr{
    color:white;
    border-bottom: 3px solid #B7825F;
    border-left: 3px solid #B7825F;
    border-right: 3px solid #B7825F;
    text-align:left;
    vertical-align: top;
    width:100%
}

.personalTable, td > p{
    margin-top: 5px;
    font: 18px sans-serif;
    line-height: 30px;
}

@media screen and (max-width: 768px) {
    #Prof{
    width:96%;
    margin-right:2%;
    margin-left:2%;
}
    
    .tab{
        font: 25px 'Yanone Kaffeesatz', sans-serif;
        padding:5px;
    }
    
    .panels{
        border-top:3px solid #B7825F;
        height:630px;
        margin-bottom:20px;
    }
    
    .flex-container > div {
        width:95%;
    }
    
    #Signature{
    width:70%;
    margin-right:auto;
    margin-left:auto;
}
    
    #List > li{
        font-size:14px;
    }
}